<div class="box-login">    
    <h2>Efetue o login:</h2>
    
        <input [(ngModel)]="user.nome" type="text" name="user" id="user" placeholder="Login" required>
        <input [(ngModel)]="user.senha" type="password" name="senha" id="senha" placeholder="Password" required>
        <div class="form-group-login left">
            <input (click)="fazerLogin()" type="submit" name="acao" value="Logar">
        </div>
        <div class="form-group-login right">
            <label>Lembrar-me</label>
            <input type="checkbox" name="lembrar">
        </div>
        <div class="clear"></div>
   
</div>
