<header>
    <div class="center">
        <div class="logo" *ngFor="let log of logo"><a routerLink="">{{ log.logo }}</a></div>
        <nav class="desktop">
            <ul>
                <li *ngFor="let menu of homemenu"><a href="#{{ menu.name }}">{{ menu.name }}</a></li>                                  
            </ul>
        </nav>
        <nav class="mobile">
            <i class="fa fa-bars"></i>
            <ul>
                <li *ngFor="let menu of homemenu"><a href="#{{ menu.name }}">{{ menu.name }}</a></li>                
            </ul>
        </nav>            
    </div>
</header>
<section id="Home" class="banner">
    <div class="layer">
        <div class="center">
            <div class="home" *ngFor="let tex of conteudo">
                <h1>{{ tex.titulo }}</h1>
                <p>{{ tex.texto }} <span>#vamoqvamo</span></p>
            </div>            
            <div class="formulario">                
                <form action="" method="post" #cadastrar="ngForm" (ngSubmit)="onSubmit(cadastrar)" enctype="multipart/form-data">
                    
                    <div class="form-group">                       
                        <input type="text" rows="5" class="form-control" required name="nome" id="nome" placeholder="Coloque o seu nome..." ngModel>
                    </div>
                    <div class="form-group"> 
                        <input type="text" rows="5" class="form-control" required name="email" id="email" placeholder="Coloque o seu email..." ngModel>                                              
                    </div>
                    <div class="form-group"> 
                        <input type="text" rows="5" class="form-control" required name="telefone" id="telefone" placeholder="Coloque o seu número..." ngModel>
                    </div>
                    <div class="form-group"> 
                        <select rows="5" class="form-control" required name="passeio" id="passeio" ngModel>
                            <option value="" disabled>Escolha o seu passeio...</option>
                            <option *ngFor="let passeio of homepasseio" value="{{ passeio.title }}">{{ passeio.title }}</option>                        
                        </select>
                    </div>
                    <button type="submit">Cadastrar!</button>                                         
                </form>               
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Seu cadastro foi realizado com sucesso!</strong>
                    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="alertD" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Campos vazios não são aceitos!</strong>
                    <button (click)="closeAlertD()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>                
        </div>
    </div>        
</section>   
<section id="Passeio" class="servicos">
    <section class="servicos-title">
        <div class="center">
            <h1>Passeios</h1>
        </div>
    </section>
    <div class="center">
        <div class="box-planos-single" *ngFor="let passeio of homepasseio">
            <div class="box-planos-wraper">
                <h2>{{ passeio.title }}</h2>
                <div class="img-trilha">
                    <img [src]="passeio.img" />
                </div>
                <div class="pontos-plano">
                    <p><i class="fa fa-check-square"></i> {{ passeio.encontro }}</p>
                    <p><i class="fa fa-check-square"></i> Tempo: {{ passeio.tempo }}</p>
                    <p><i class="fa fa-check-square"></i> Guia: {{ passeio.guia }}</p>
                    <p><i class="fa fa-check-square"></i> Dia/Horário: {{ passeio.dia }}</p>
                </div>
                <div class="preco">
                    <h2><a href="#">Quero participar!</a></h2>
                </div>
            </div>
        </div>       
    </div>
  </section>       
  <section id="Contato" class="fale-conosco">
    <section class="servicos-title">
        <div class="center">
            <h1>Contato</h1>
        </div>
    </section>
    <div class="center">
        <div class="sobre-nos" *ngFor="let tex of contato">
            <h1>{{ tex.titulo }}</h1>
            <p>
                {{ tex.texto }}
            </p>
        </div>
        <div class="form">                
            <div class="w50" *ngFor="let eq of equipe">
                <div class="w50-wrapper">
                    <div class="img-title">
                        <div class="foto">
                            <img [src]="eq.foto" />
                        </div>
                        <div class="title">
                            <h3>{{ eq.nome }}</h3>
                            <h4>{{ eq.profissao }}</h4>
                        </div>
                    </div>
                    <div class="description">
                        <p>{{ eq.descricao }}</p>
                    </div>
                </div>
            </div>              
        </div>
    </div>
  </section>    
  <footer>
    <section class="pre-footer">
        <div class="center">
            <div class="endereco">
                <p>Rua São Lourenço - Niterói-RJ</p>
            </div>
            <div class="redes-sociais">
                <span>Siga-nos:</span>
                <a href="https://www.facebook.com/ludger.jeanlouis/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/jeanludger/" target="_blank"><i class="fa fa-instagram"></i></a>                    
            </div>
        </div>
    </section>
    <section class="rodape">
        <div class="center">
            <p *ngFor="let log of logo">© 2021 | {{ log.logo }}</p>
        </div>
    </section>        
  </footer>
  