.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
.alert-success {    
    margin: 20px 0;
    padding: 0 5px;
    text-align: center;
}
.alert-danger {    
    margin: 20px 0;
    padding: 0 5px;
    text-align: center;
}