<header>
    <div class="center">
        <div class="logo" *ngFor="let log of logo"><a href="index.html">{{ log.logo }}</a></div>
        <nav class="desktop">
            <ul>
                <li *ngFor="let menu of homemenu"><a href="#{{ menu.name }}">{{ menu.name }}</a></li>                                  
            </ul>
        </nav>
        <nav class="mobile">
            <i class="fa fa-bars"></i>
            <ul>
                <li *ngFor="let menu of homemenu"><a href="#{{ menu.name }}">{{ menu.name }}</a></li>                
            </ul>
        </nav>            
    </div>
</header>
