<section id="Passeio" class="servicos">
    <section class="servicos-title">
        <div class="center">
            <h1>Passeios</h1>
        </div>
    </section>
    <div class="center">
        <div class="box-planos-single" *ngFor="let passeio of homepasseio">
            <div class="box-planos-wraper">
                <h2>{{ passeio.title }}</h2>
                <div class="img-trilha">
                    <img [src]="passeio.img" />
                </div>
                <div class="pontos-plano">
                    <p><i class="fa fa-check-square"></i> {{ passeio.encontro }}</p>
                    <p><i class="fa fa-check-square"></i> Tempo: {{ passeio.tempo }}</p>
                    <p><i class="fa fa-check-square"></i> Guia: {{ passeio.guia }}</p>
                    <p><i class="fa fa-check-square"></i> Dia/Horário: {{ passeio.dia }}</p>
                </div>
                <div class="preco">
                    <h2><a href="#">Quero participar!</a></h2>
                </div>
            </div>
        </div>       
    </div>
  </section>       
